header{
	width: 90%;
}

header#cabecalho{
    background-color: #B4CDCD;
    padding: 10px;
    background-repeat: no-repeat;
	max-width: 100%;
	position: relative;
}
.texto_menu img{
	float: left;
    background-repeat: no-repeat;
	position: relative;
}

.texto_menu ul{
   list-style:none;
   font-family: arial;
   margin-bottom: 10px;
   margin-top: 0;
	
}
.texto_menu ul li {
  display: inline-block;
  margin-left: 10px;
  margin-top: 45px;
}
.texto_menu ul li a {
   padding: 0px 0px;
   margin-left: 70px;
   text-decoration:none;
   color: #191970;
}
body{
	background-color: #B4CDCD;
	margin: 0px;
	padding:0px;
}

#body_img{
	display: block;
	width: 100vw;
	height: 80vh;
	padding: 0;
	background: url('../images/fundo4.jpg') no-repeat;
	background-position: 50% 50%;
	max-width: 100%;
	max-height: 100%;
    background-size: cover;
	
}

footer{
    background-color: #B4CDCD;
    text-align: center;
    padding: 0px;
	font-family: arial, sans-serif;
	font-size:0.9em;
	color: #191970;
}
	
footer p a{
	font-family: arial, sans-serif;
	color: #191970;
	text-decoration: none;
}

#perfil {
	position:absolute;
	top:30%;
	left:45%;
	transform: translate(-50%,-50%);
}

#perfil img {
	position:absolute;
	transform: translate(-50%,-50%);
}

#dados {
	font-family: arial;
	color: #191970;
	text-align: center;
	background: #B4CDCD;
	padding: 10px 20px !important;
	position:absolute;
	top: 30%;
	left:57%;
	transform: translate(-50%,-50%);
}

#post{
	font-family: arial;
	color: #191970;
	text-align: center;
	background: #B4CDCD;
	padding: 10px 20px !important;
	position:absolute;
	top: 70%;
	left:50%;
	transform: translate(-50%,-50%);
}

#post i{
	padding-left: 80px;
	transform: translate(-50%,-50%);
	left: 50%;
}