header#cabecalho{
    background-color: #E0FFFF;
    padding: 10px;
	font-family: arial, sans-serif;
    background-repeat: no-repeat;
    background-position: 109% 20%;
}
header#cabecalho>div{
    display: inline-block;
}

header#cabecalho img{
    height: 120px;
    border-radius: 60px/100px;
    background-color: #E0FFFF;
	float: left;
}

nav{
	text-align: center;

}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline-block;
    padding: 15px;
	font-family: arial, sans-serif;
	
}           
nav ul li a{
    text-decoration: none;
	color: #0000CD;
	text-align: center;
}

body{
    background-repeat:repeat;
	background-color: #F0FFFF
}

#centro {
	position:absolute;
	top:75%;
	left:50%;
	transform: translate(-50%,-50%);
}

#mapa{
	position:absolute;
	top:110%;
	left:50%;
	transform: translate(-50%,-50%);
}

#contato{
	position:absolute;
	top:145%;
	left:30%;
	transform: translate(-50%,-50%);
}

form {
    background-color: #E0FFFF;
	text-align: left;
	color: #0000CD;
	font-family: arial, sans-serif;
}

form label{   
	display: inline-block;
    padding: 10px;
	font-family: arial, sans-serif;
}
form label imput{
 	font-family: arial, sans-serif;
}

form label select {
 	font-family: arial, sans-serif;
}

textarea{
 	font-family: arial, sans-serif;
}

input{
 	font-family: arial, sans-serif;
	color: #0000CD;
}
	
#imgnoticias{
	position:absolute;
	top:45%;
	left:50%;
	transform: translate(-50%,-50%);
}

body div a{
	text-decoration: none;
}

body div a img{
	height: 120px;
    border-radius: 20px/140px;
	margin: 0 auto;
	padding: 10px;
	border-radius: 15px;
}
#endereco{
	position:absolute;
	top:145%;
	left:30%;
	transform: translate(-50%,-50%);
