header{
	width: 90%;
}

header#cabecalho{
    background-color: #B4CDCD;
    padding: 10px;
    background-repeat: no-repeat;
	max-width: 100%;
	position: relative;
}
.texto_menu img{
	float: left;
    background-repeat: no-repeat;
	position: relative;
}

.texto_menu ul{
   list-style:none;
   font-family: arial;
   margin-bottom: 0;
   margin-top: 0;
	
}
.texto_menu ul li {
  display: inline-block;
  margin-left: 10px;
  margin-top: 45px;
}
.texto_menu ul li a {
   margin-left: 70px;
   text-decoration:none;
   color: #191970;
}
body{
	background-color: #B4CDCD;
	margin: 0px;
	padding:0px;
}

#body_img{
	display: block;
	width: 100vw;
	height: 80vh;
	padding: 0;
	background: url('../images/fundo4.jpg') no-repeat;
	background-position: 50% 50%;
	max-width: 100%;
	max-height: 100%;
    background-size: cover;
}

.info-user
{
  display: block;
  margin-right: 20px;
  width: 250px;
  height: 300px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 10px;
  background-color: white;
}

.info-user img
{
  /*imagem do usuario (Lebron James)*/
  width: 50%;
  margin-left: 30%;
  margin-top: 10%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;

}

.info-user h1
{
  /*nome do usuário (Davi Matheus)*/
  color: #42404f;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  text-align: center;

}

.info-user h2
{
  /*nome do perfil do usuário (@davimath)*/
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-align: center;
  margin-top: -5%;
  color: #42404f;

}

.info-user ul
{
  /*Tweets/Seguindo/Seguidores*/
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
  list-style: none;

}

.info-user li
{
  /*cores e da margem da lista*/
  color: #5f4b8b;
  display: inline-block;
  padding: 5px;
  margin-left: -10px;
}


.timeline
{

  /*timeline*/
  top: 132px;
  left: 280px;
  position: absolute;
  float: right;
  display: inline-block;
  background-color: white;
  width: 70%;
  margin-right: 40px;
  margin-left: 40px;
}

.timeline h1
{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-align: right;
  display: inline-block;
  color: #42404f;
  line-height: 50px;
  margin-left: 20px;
}

.timeline h2
{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-align: right;
  display: inline-block;
  color: #5f4b8b;
  line-height: 50px;
  margin-left: 15px;
}

.timeline img
{
  width: 10%;
  text-align: left;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  display: block;
  float: left;
  clear: left;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-top:20px;

}

.timeline hr
{
  margin-top: 2px;
  margin-bottom: 2px;
}

.timeline p
{
  font-size: 16px;
  font-family: 'Assistant', sans-serif;
  margin-top: 20px;
  margin-left: 120px;
  margin-top: -20px;
  margin-bottom: 80px;

}

footer{
    background-color: #B4CDCD;
    text-align: center;
    padding: 0px;
	font-family: arial, sans-serif;
	font-size:0.9em;
	color: #191970;
}
footer p a{
	font-family: arial, sans-serif;
	color: #191970;
	text-decoration: none;
}